In [1]:
print('Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky.')
print('Twinkle, twinkle, little star, \n\tHow I wonder what you are')

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [2]:
import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.7.1 (default, Dec 10 2018, 22:54:23) [MSC v.1915 64 bit (AMD64)]
Version info.
sys.version_info(major=3, minor=7, micro=1, releaselevel='final', serial=0)

In [3]:
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%d-%m-%Y %H:%M:%S"))

Current date and time :
12-04-2019 14:43:39

In [4]:
from math import pi
r = float(input("radius of the circle: "))
print('Area = ', (pi * r**2))

radius of the circle: 34
Area =  3631.681107549801

In [5]:
first = str(input("First Name: "))
last = str(input("Last Name: "))
print(last, first)

First Name: Vitor
Last Name: Borges
Borges Vitor

In [6]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")

Input some comma seprated numbers : 3,4,5,6,7,98,9

In [7]:
tuple = tuple(list)

In [8]:
print('List : ',list)
print('Tuple : ',tuple)

List :  ['3', '4', '5', '6', '7', '98', '9']
Tuple :  ('3', '4', '5', '6', '7', '98', '9')

In [11]:
filename = input("Input the Filename: ")
f_extns = filename.split(".")
print ("The extension of the file is : " + repr(f_extns[1]))

Input the Filename: oi.jpeg
The extension of the file is : 'jpeg'

In [12]:
color_list = ["Red","Green","White" ,"Black"]
print("First color: "+ repr(color_list[0]))
print("Last color: "+ repr(color_list[-1]))

First color: 'Red'
Last color: 'Black'

In [4]:
exam_st_date = (11, 12, 2014)
print('The examination will start from : ' + str(exam_st_date[0]) + '/' + str(exam_st_date[1]) + '/' + str(exam_st_date[2]))

The examination will start from : 11/12/2014

In [11]:
n = 5
sec = int(str(n) + str(n))
thr = int(str(n) + str(n) + str(n))
sumis = n + sec + thr
sumis

615

In [16]:
n = -898
a = abs(n)
print('abs(number) -> '+ str(a))

abs(number) -> 898

In [17]:
import calendar
y = int(input("Input the year : "))
m = int(input("Input the month : "))
print(calendar.month(y, m))

Input the year : 2019
Input the month : 05
      May 2019
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [18]:
print("""
a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example
""")

a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example

In [27]:
from datetime import date
f_date = date(2013, 7, 2)
l_date = date(2014, 7, 11)
delta = l_date - f_date
print(delta.days)

374

datetime.date

In [36]:
from math import pi
r = 6
volume = (4*pi*(r**3))/3
print(volume)

v = (4 * r**3)/3
print(str(v)+'pi')

904.7786842338604
288.0pi

In [43]:
n = 14
if n > 17:
    r = abs(n-17) * 2
else:
    r = abs(n - 17)
print(r)

3

In [47]:
n = 1100
if n >= 900 and n <= 1100:
    print('Near 1000')
elif n >= 1900 and n <= 2100:
    print('Near 2000')
else:
    print('False')

Near 1000

In [60]:
n = [2,5,7]
result = 0
for i in n:
    result += i 
print(result)

14

In [68]:
n = [5,5,5,5,5,5,5,5,5,5,5,5,5]
result = 0
if all(elem == n[0] for elem in n):
    for i in n:
        result += i 
    print(result * 3)
else:
    for i in n:
        result += i 
    print(result)

195

In [12]:
def new_string(str):
    if len(str) >= 2 and str[:2] == "Is":
        return str
    return "Is " + str

print(new_string("Is"))

Is

In [32]:
def alotofstrgs(str,n):
    oi = str * n 
    return oi
alotofstrgs(' amo a sophi',4)

' amo a sophi amo a sophi amo a sophi amo a sophi'

In [38]:
a = int(input())
if a % 2 != 0:
    print('odd')
elif a % 2 == 0:
    print('even')

0
even

In [42]:
list = [132,4,5,64,2,2,34,4,3,5,4,4,4,4,4,4,4,4]
result = 0
for n in list:
    if n == 4:
        result += 1
print(result)

10

In [60]:
def batata(str,s):
    if len(str) > 2:
        a = str[:2] * s
        return a
    elif len(str) <= 2:
        a = str * s
        return a
batata('oieeeeeeee', 10)

'oioioioioioioioioioi'

In [63]:
s = str(input())
if s == 'a' or s == 'e' or s == 'i' or s == 'o' or s == 'u':
    print(s, 'is a vowel')
else:
    print(s, 'is not a vowel')

a
a is a vowel

In [64]:
list = [132,4,5,64,2,2,34,4,3,5,4,4,4,4,4,4,4,4]
result = 0
for n in list:
    if n == 4:
        result += 1
if result > 0:
    print('True')
else: 
    print('False')

True

In [66]:
def histogram(items):
    for n in items:
        output = ''
        times = n
        while(times > 0):
            output += '*'
            times = times - 1
        print(output)

histogram([2,3,6,5])

**
***
******
*****

In [13]:
print('Link dos exercícios: ','https://www.w3resource.com/python-exercises/python-basic-exercises.php')

Link dos exercícios:  https://www.w3resource.com/python-exercises/python-basic-exercises.php